<!doctype html>
<html ng-app="inquiry-app">
<head>
<meta charset="utf-8"/>

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="alt/angucomplete-alt.css">
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="../js/angular-touch.min.js"></script>
    <script type="text/javascript" src="../js/angucomplete-alt.js"></script>
     <script type="text/javascript" src="../js/app-requiry.js"></script>
    <script type="text/javascript" src="../js/xw-select.js"></script>

    <style>
        .red{
    color: red;
        }
        .green{
            /*background-color: green;*/
        }
    </style>
</head>
<body>
<div class="conainer">
	<p>询价</p>
		<div class="form-group">
		   <label>供应商：富昌电子</label>		
	     </div>

		<br/>
		
		<button type="submit" class="btn btn-primary">询价</button>
		<p>
	
	  <div ng-controller="InquiryListController">

	  	

		<table class="table" >
			<tr>
				<td>料号</td>
				<td>制造商-1</td>
				<td>制造商-2</td>
				<td>数量</td>
				<td>交期</td>
				<td>备注</td>
				<td>caozuo</td>
			</tr>
			
			<tr ng-repeat="requiry in requirys"   ng-controller="InquiryController" >
			<td ng-class="checkClass(requiry.relevant)">
			{{check(requiry.relevant)}}
            </td>

				<td>
                    {{requiry.pn}}  !
				    <!-- <x-autocomplete model="product.mfs" local_data="product.others" placeholder="please input pn">

				    </x-autocomplete> -->



					<!--  <input type="txt" ng-model="requiry.pn"  ng-keypress="pnChangeForEnter($event,requiry)"  ele-input/> -->

					<!-- <xw-autocomplete model="requiry.pn" placeholder="please input pn" remote_url="http://localhost:8080/demo-service/api/pn_list/find?pn="  complete="pnSelected()"/>
-->		<angucomplete-alt id="members"
                             placeholder="Search pn"
                             pause="400"
                             selected-object="selected"
                             remote-url="http://192.168.1.103:8080/demo-service/api/pn_list/find?pn="
                             initial-value=requiry.pn
                             title-field="name"
                             description-field="code"
                             input-class="form-control form-control-small"
                        />
                    <!--  <ele-input ng-model="requiry.pn" blur="change($event)"> -->



					 
					 

			<!-- 	<ui-select ng-model="pn.selected" theme="selectize" ng-disabled="disabled" style="width: 300px;" title="Choose a pn">
    				<ui-select-match placeholder="Select or search a pn in the list...">{{$select.selected.name}}</ui-select-match>
   					 <ui-select-choices repeat="pn in pns | filter: $select.search">
      					<span ng-bind-html="pn.name | highlight: $select.search"></span>     					 
  					  </ui-select-choices>
  				</ui-select>   --> 
              </td>
				
				
				 <td>

				 	{{add(requiry.pn)}}

 				<div>
                    <xw-select model="requiry.mfr"  local-data="requiry.relevant"  placeholder="search......."></xw-select>
 </div>
               

				
				</td>

				<td>
                  <div ng-style="display(requiry)">
					{{requiry.flag}}
				  </div>



				<!-- 
					   <ui-select ng-model="product.mfr" theme="selectize" ng-disabled="disabled" style="width: 300px;" title="Choose a pn">
    				   		<ui-select-match placeholder="Select or search a pn in the list...">{{$select.selected.name}}</ui-select-match>
   								 <ui-select-choices repeat="mfr in mfrs | filter: $select.search">
      							<span ng-bind-html="mfr.name | highlight: $select.search"></span>     					 
  					 		 </ui-select-choices>
  				  		</ui-select>  -->
				</td>
				<td>
				  <input type="text" ng-model="requiry.qty" ng-style="display(requiry)"/>
				</td>
				<td>
				  <input type="text" ng-model="requiry.delivery" ng-style="display(requiry)" />
				
				</td>
				<td>
				<input type="text" ng-model="requiry.mark" ng-style="display(requiry)" placeholder="备注" />
			</td>
			 <td><a ng-show="delShow(requiry)" style="color:red;" ng-click="del($index)">移除</a></td>
				
			</tr>		

		</table>
	        <div>总数:{{requirys.length}}</div>
	        <button ng-click="show()">询价</button>

	
	       
		
		
		<script>
		
		
		
		</script>
		
		
	
	

</body>
</html>